#main {
    font-family: 'Londrina Solid', cursive;
    background-color: #03ecfc;
  }
  
  #survey-form {
    background-color: #d7fafc;
    padding: 30px;
  }
  
  #title-header {
    padding-top: 1px;
    padding-left: 30px;
  }